@import "./common";

@import "./components/header";
@import "./components/section-header";
@import "./components/services";
@import "./components/clients";
@import "./components/footer";

.page-services {
  main .gradient-bg {
    padding-top: 180px;
  }

  .clients {
    margin-top: 60px;
  }

  .section-header__title-electric{
    font-size: map-get($font-sizes, 'xs');
    font-weight: 700;
    line-height: map-get($font-sizes, 'xs');
    letter-spacing: 1px;
    color: map-get($colors, 'electric');
  }
}