.section-header__link:after {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-header__title {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: #fff;
  position: relative;
}

.gradient-bg {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.gradient-bg:before, .gradient-bg:after {
  content: "";
  display: inline-block;
  height: 10px;
  position: absolute;
  border-radius: 0 0 12px 12px;
  left: 50%;
  transform: translateX(-50%);
}
.gradient-bg:before {
  background-color: #CACADB;
  width: calc(100% - 40px);
  bottom: -10px;
}
.gradient-bg:after {
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  bottom: -20px;
}

.dot-after:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
}

.toggleCheckbox {
  display: none;
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #e4e4ee;
  border-radius: 10px;
  background: #e4e4ee;
  font-weight: bold;
  color: #323264;
  cursor: pointer;
}

.toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: #fff;
  transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox {
  display: none;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
  color: #323264;
  transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child {
  color: #323264;
  transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child {
  color: #323264;
  transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child {
  color: #323264;
  transition: color 0.3s;
}

.btn-primary {
  display: inline-block;
  text-align: center;
  padding: 18px 30px;
  outline: none;
  border-radius: 12px;
  color: #fff;
  background-color: #24A3FF;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  transition: 0.3s;
  box-shadow: 0 0 20px 0 #24A3FF;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.section-header {
  margin-bottom: 30px;
}
.section-header__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #24A3FF;
  margin-bottom: 20px;
  display: inline-block;
  transition: 0.3s color;
}
.section-header__link:after {
  content: "\f285";
  font-weight: 700;
}
.section-header__link:hover {
  color: #F0145A;
}
.section-header__title {
  background: -webkit-linear-gradient(62deg, #F0145A 0.84%, #EF8080 99.96%);
  background: -moz-linear-gradient(62deg, #F0145A 0.84%, #EF8080 99.96%);
  background: -o-linear-gradient(62deg, #F0145A 0.84%, #EF8080 99.96%);
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
}

.header {
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header.header-light {
  position: static;
  margin-bottom: 60px;
}
.header.header-light .header__lang-switcher span {
  color: #B3B3BA;
}
.header.header-light .header__lang-switcher input:checked + span {
  color: #fff;
}
.header.header-light .header__address a, .header.header-light .header__contact a, .header.header-light .header__socials a {
  color: #B3B3BA;
}
.header.header-light .dot-after:after {
  background: #B3B3BA;
}
.header.header-light .navbar-toggler {
  color: #323264;
  border-color: #323264;
}
.header.header-light .navbar-nav .nav-item a {
  color: #24A3FF;
}
.header.header-light .navbar-nav .nav-item a.active {
  color: #F0145A;
  text-decoration: underline;
}
.header .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
.header .container {
  position: relative;
}
.header .navbar-brand {
  position: relative;
  z-index: 1;
}
.header .navbar-nav {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.header .navbar-nav .nav-item a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding: 0;
}
.header .navbar-nav .nav-item a.active {
  color: #F0145A;
  text-decoration: underline;
}
.header__top {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 0;
}
.header__lang-switcher input {
  display: none;
}
.header__lang-switcher span {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 8px;
}
.header__lang-switcher input:checked + span {
  background: #F0145A;
}
.header__address a, .header__contact a, .header__socials a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.header__contact a {
  font-weight: 700;
}

@media (max-width: 767px) {
  .header__top {
    top: -40px;
  }
}
@media (max-width: 575px) {
  .header {
    padding-top: 60px;
  }
  .header .navbar-collapse {
    background: #B3B3BA;
    padding: 10px;
  }
  .header .navbar-collapse .navbar-nav {
    margin-top: 0;
  }
  .header .navbar-collapse .navbar-nav .nav-item a {
    color: #46466E;
  }
  .header__address, .header__socials {
    display: none !important;
  }
  .header__dot-after:after {
    display: none;
  }
  .header__top {
    top: -60px;
    left: 0;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.44);
    justify-content: space-between !important;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
}
.about__text {
  font-size: 19px;
  color: #000;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 662px;
  height: 260px;
  margin: 0;
}
.about__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #000;
  margin-bottom: 40px;
}
.about .center {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
}
.about .vertical-line {
  width: 4px;
  height: 322px;
  background-color: #E6E6F0;
  opacity: 1;
}
.about .left, .about .right {
  width: 45%;
}
.about .left {
  width: 662px;
  height: 380px;
  float: left;
}
.about .right {
  width: 375px;
  height: 322px;
  float: right;
}
.about .icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 101px;
  height: 44px;
  gap: 8px;
}
.about .team-banner img {
  position: relative;
  max-width: 1900px;
  z-index: 1;
  margin-bottom: 60px;
}

.company {
  background-color: #F5F5FA;
  padding: 30px 160px;
  height: 263px;
}
.company .section-header__title-electric {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: #323264;
}
.company .img-area {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 320px;
  height: 110px;
  padding: 25px;
  gap: 40px;
  border-radius: 12px;
}
.company .carousel-indicators {
  margin: 0;
  bottom: -45px;
}
.company .carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  background-color: rgba(36, 163, 255, 0.5);
  border-radius: 50%;
}
.company .carousel-indicators [data-bs-target] .active {
  background-color: #24A3FF;
}

.footer {
  padding-bottom: 30px;
  background-color: #F5F5FA;
}
.footer a {
  color: #24A3FF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.footer .dot-after:after {
  background-color: #B3B3BA;
  margin: 3px 6px;
}
.footer .container:before {
  content: "";
  display: block;
  height: 2px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}
.footer__address, .footer__copyright {
  margin-bottom: 20px;
}
.footer__address {
  color: #323264;
  font-size: 16px;
}
.footer__copyright {
  color: #B3B3BA;
  line-height: 16px;
  text-align: right;
}
.footer__phone a {
  color: #323264;
}

.section-header__title {
  margin-bottom: 28px;
}

/*# sourceMappingURL=about.css.map */
